<div class="content">
  <div class="content-left">
    <p class="intro">Hi all. I'm</p>
    <h1>Gabriel Labonde</h1>
    <p class="work">> Future Full Stack developer</p>
    <p class="comment">// complete the game to continue <br>
      // you can also see it on my Github page</p>
    <p class="github-link">
      <span class="const">
        const
      </span>
      <span class="var">
        githubLink =
      </span>
      <a class="link" href="https://github.com/Gaby13627">
        "https://github.com/Gaby13627"
      </a>
      </p>
  </div>
  <div class="content-right">
    <!-- <canvas id="game" width="400" height="600"/> -->
  </div>
</div>
